<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <button type="button" ng-click="addNew()" ng-if="!eventEdited.$edit" class="btn btn-sm btn-success">
        <i class="glyphicon glyphicon-plus">
        </i> Add 
    </button>
    <table st-table="usersDisplay" st-safe-src="users"     class="table table-striped">
        <thead>
            <tr>
                <th st-sort="name" >Name</th>
                <th st-sort="email">Email</th>
                <th >Role</th>
                <th >Relations</th>
                <th >Action</th>
            </tr>
            <tr>
                <th colspan="5">  
                    <input st-search placeholder="global search" class="input-sm form-control" type="search"/>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in usersDisplay">
                <td>{{user.name}} </td>
                <td ng-bind="user.email" ></td>
                <td>{{user.role}}</td>
                <td>
                    <span ng-if="user.role == 'user'" > {{usersMap[user._manager].name}}</span>
                      <div ng-if="user.role == 'manager'" > 
                         <md-chips ng-model="user.sales" readonly="true">
                            <md-chip-template>
                              <span>{{usersMap[$chip].name}}</span>
                            </md-chip-template>
                          </md-chips>
                      </div>
                </td>
                
                
                <td>
                    <div ng-if="!event.$edit">
                        <button  type="button" ng-click="edit(user,$event)" class="btn btn-sm ">
                            <i class="glyphicon glyphicon-th">
                            </i>
                        </button>
                        <button   type="button" ng-click="delete(user)" class="btn btn-sm btn-danger">
                            <i class="glyphicon glyphicon-remove-circle">
                            </i>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5" class="text-center">
                    <div st-pagination="" st-items-by-page="itemsPerPage" st-displayed-pages="7"></div>
                </td>
            </tr>
        </tfoot>
    </table>


 

    
    
    <div class="form-group" ng-if="userEdited.role == 'user'" >
        <label>Manager :</label>        
        <select  type="text" ng-model="userEdited._user"   ng-if="userEdited.$edit"  ng-options="user as user.name for user in managers track by user._id"  ng-change="change(userEdited)"  > </select>
        <span  ng-if="!userEdited.$edit" >{{userEdited._user.name}}</span>
    </div>
        <div class="form-group" ng-if="userEdited.role == 'manager'" >
        <label>Users :</label>        
        <select  type="text" ng-model="userEdited.sales"   ng-if="userEdited.$edit"  ng-options="user as user.name for user in managers track by user._id"  ng-change="change(userEdited)"  > </select>
        <span  ng-if="!userEdited.$edit" >{{userEdited._user.name}}</span>
    </div>
 
  
  
</div>