<md-dialog aria-label="Create/edit Event"  ng-cloak>
    <form name="editEvent">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Create/edit Event</h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-dialog-content >
            <div class="md-dialog-content">
                <div layout-gt-sm="row">

                    <div class="md-block" flex-gt-sm >
                        <label>Start</label>
                        <md-datepicker ng-model="eventEdited.startDate" md-placeholder="Enter date">
                        </md-datepicker>
                    </div>

                    <div class="md-block" flex-gt-sm >
                        <label>End</label>
                        <md-datepicker ng-model="eventEdited.endDate" md-placeholder="Enter date">
                        </md-datepicker>
                    </div>
                </div>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm >
                        <label>Name</label>
                        <input ng-model="eventEdited.name" name="name" required>
                        <div class="errors" ng-messages="editEvent.name.$error" ng-if="editEvent.name.$invalid">
                            <div ng-message="required">Required</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Address</label>
                        <input ng-model="eventEdited.address" name="address" required>
                        <div class="errors" ng-messages="editEvent.address.$error" ng-if="editEvent.address.$invalid">
                            <div ng-message="required">Required</div>
                        </div>
                    </md-input-container>
                    <md-input-container  class="md-block" flex-gt-sm  ng-if="getCurrentUser().role != 'user'">
                        <label>User</label>
                        <md-select name="owner" ng-model="eventEdited._user" required>
                            <md-option ng-repeat="user in users" value="{{user._id}}">
                                {{user.name}}
                            </md-option>
                        </md-select>
                        <div class="errors" ng-messages="editEvent.owner.$error" ng-if="editEvent.owner.$invalid">
                            <div ng-message="required">Required</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout-gt-sm="row">

                 
                    <md-input-container class="md-block" style="width: 610px;">
   <label>Description</label>
                        <div text-angular ng-model="eventEdited.description" ng-if="eventEdited.$edit"  ></div>
                    </md-input-container>

                </div>

            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="saveDialog(eventEdited)" ng-disabled="editEvent.$invalid">
                save
            </md-button>
            <md-button ng-click="cancel(eventEdited)" style="margin-right:20px;">
                cancel
            </md-button>
        </md-dialog-actions>
    </form>



</md-dialog>
